{% extends 'base.html' %}

{% block body %}
         <!-- GALLERY CAROUSEL -->
         <div id="third-block">
            <div class="line">
         <div align="left" style="margin-left:175px">
               <h2 align="left"><b>My Favorite Materials</b></h2>
            <div style="float:left;font-size:14pt;"><br>
      {% if num == 0 %}
      <p>You haven't liked any materials yet.</p>
      {% else %}
      <ul>
      {% for like in likes %}
      <li>
          <a href="{% url 'material' like.id %}" style="color:blue;">
          {{ like.name }}</a>
      </li>
      {% endfor %}
      </ul>
      {% endif %}

</div>

            <br /><br /><br />
            
            </div>
            </div>
         </div>
       <hr color="#d0d0d0">
         </div>
      </section>

{% endblock %}