{% extends 'base.html' %}

{% block title %}
      <script type="text/javascript">
        function likeresponse(){
          {% if not liked %}{
            alert("You have successfully liked this material!");
          } {% else %}{
            alert("You have already liked this material!");
          }{% endif %}
        }

        function removeresponse(){
          alert("You have successfully removed this material!");
        }

        function rateresponse(){
          alert("You have successfully submitted your rating and comment!");
        }
      
        function downloadresponse(){
          var se=confirm("Do you want to download this material?");
          if (se==true){
            alert("Downloading confirmed!");
          }else{
            alert("Cancelled");
          }
        }
      </script>
{% endblock %}

{% block body %}
         <!-- GALLERY CAROUSEL -->
         <div id="third-block">
            <div class="line">
         <div align="left" style="margin-left:175px">
               <h2 align="left"><b>{{ material.name }}</b></h2>
            <div style="float:left;font-size:14pt;"><br>
<p>Uploader: <a href="{% url 'profile' material.uploader.id %}" style="color:blue;">{{ material.uploader.first_name }} {{ material.uploader.last_name}}</a></p>
    <p>Author: {{ material.author }}</p>
    <p>Category: {{ material.category }}</p>
    <p>Upload Date: {{ material.upload_date }}</p>
    <p>Create Date: {{ material.create_date }}</p>
    <p>Grade: {{ material.grade }}, Year {{ material.year }}</p>
    <p>Subject: {{ material.subject }}</p>
    <p>Class Size: {{ material.class_size }}</p>
    <p>Tags: {{ material.tags }}</p>
    <p>Description: {{ material.description }}</p>

    <p>Number of downloads in last three months: {{ downloads }}</p>
    </br><p><strong>Ratings:</strong></p>
    {% if num_rating == 0 %}
    <p>This material has no ratings or comments yet.</p>
    {% else %}
    <p>Average Rating: {{avgrating}}</p>
    <ul>
      {% for rating in ratings %}
      <li>      
      <p>Rater/Commenter: {{rating.rater.first_name}} {{rating.rater.last_name}}</p> 
      <p>Time: {{ rating.time }}</p>
      <p>Rate: {{ rating.rate }}</p>
      <p>Comment: {{ rating.comment }}</p>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    <br />
    {% if  user.is_authenticated %}
    {% if user.profile == material.uploader %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="material_id" value="{{ material.id }}" />
        <input type="submit" name="remove" onclick="removeresponse()" value="Remove" />
    </form>
    {% else %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="material_id" value="{{ material.id }}" />
        <input type="submit" name="like" onclick="likeresponse()" value="Like It" />
        <input type="submit" name="download" onclick="downloadresponse()" value="Download" />
    </form><br />
        {% if downloader %}
        <p> Please rate from 0 to 5 </p>
        <form action="" method="post">
        {% csrf_token %}
        {{ rateform.as_p }}<br />
        <input type="submit" name="rate_submit" onclick="rateresponse()" value = "Rate It Now" />
        </form>   
        {% endif %}
    {% endif %}
    {% else %}
    <input type="submit" name="download" onclick="downloadresponse()" value="Download" /><br /><br />
    <p>Want to contribute to this material? Log in or Register now!</p>
    <a href='/login/'>Log In</a> | <a href='/join/'>Register Here</a>
    {% endif %}

</div>

            <br /><br /><br />
            
            </div>
            </div>
         </div>
       <hr color="#d0d0d0">
         </div>
      </section>

{% endblock %}